
<div id="full-screen" style='background-image: url(/images/header-bg.jpg)'>

	<p id='page-description'> </p>
	<div id='location'>
		<form id='cityzip' method='GET' action='/swipe' submit='/'>
			<div class='form-group'>
				<!-- <button type='geo'>GEO</button> -->
				<input id='zip-or-city-form' type='text' name='location' placeholder = 'City or ZIP'>
				<div class='spacing'>
					<button id='search-container' type='submit'>SEARCH!</button>
				</div>
			</div>
		</form>
	</div>
	
<script src="javascripts/geo.js"></script>
<!-- <script src="javascripts/background-pets.js"></script> -->


