<div id="full-screen">
	<div class='spacing' id="petsdiv"></div>

  <input type='hidden' id='location' value={{location}}>
  <input type='hidden' id='lat' value={{lat}}>
  <input type='hidden' id='lng' value={{lng}}>

<script src="javascripts/pets.js"></script>